*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App{
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90%;
  max-width: 450px;
  background-color: white;
  padding: 40px;
  position: relative;
  border-radius: 5px;
}
.container div{
  padding: 20px;
}
.icon{
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5rem;
}
.quote-right{
  margin-left: 10px;
  margin-right: 0;
}
button{
  display: block;
  padding: 10px 20px;
  font-size: 24px;
  margin: 10px 0 0;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
}
.btn{
  transition: opacity 300ms ease;
  cursor: pointer;

}
.btn:hover{
  opacity: 0.8;
}
.right{
  float: right;
}
.container .social{
  position: absolute;
  bottom: 40px;
  padding: 0 0 0 10px;
  display: inline-flex;
  left: 40px;
}
.social .icon{
  font-size: 2.8rem;
  display: block;
  margin: 0;
}